<vxml version = "2.1" >
  <menu dtmf="true" id="main">
      <property name="inputmodes" value="dtmf"/>
      <prompt xml:lang="<%=@msgs[:prompt_extension].to_s%>">
        <audio src="<%=@msgs[:menu].to_s%>"/>
 
      </prompt>
      <choice dtmf="1" next="#support"/>
      <choice dtmf="2" next="#tracking"/>
      <choice dtmf="3" next="#repeat"/>
      <choice dtmf="4" next="#exit"/>
  </menu>
  
  
  
  <menu id="support" dtmf="true">
    <property name="inputmodes" value="dtmf"/>
     <prompt>
      <audio src="<%=@msgs[:busy].to_s%>"/>
     </prompt>
      <choice dtmf="1" next="#main"/>
      <choice dtmf="2" next="#hangup"/>
   </menu>

  <form id="tracking">
  
      <field name="track_number" type="digits?length=10" >
        <prompt>
          <audio src="<%=@msgs[:tracking].to_s%>"/>
        </prompt>
      </field>

   
   </form>

   <form id="repeat">
     <block>
        <goto next="#main"/>
     </block>
   </form>

  

   <form id="exit">
     <block>
     <prompt xml:lang="<%=@msgs[:prompt_extension].to_s%>">
        <audio src="<%=@msgs[:sorry].to_s%>"/>
     </prompt>
      
     </block>
   </form>

  

</vxml>
